body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid #eee;
}

.description {
    font-size: 1rem;
    color: #666;
    margin: 20px auto;
    max-width: 1000px;
    text-align: left;
}

.home-link a {
    text-decoration: none;
    color: #666;
    font-size: 1rem;
    margin-right: 20px;
}

nav a {
    margin-left: 10px;
    text-decoration: none;
    color: #666;
    font-size: 0.9rem;
    padding-left: 20px;
}

main {
    text-align: center;
    padding: 70px 50px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.date {
    color: #999;
    font-size: 0.9rem;
    margin-bottom: 40px;
}

.social-icons img {
    width: 24px;
    margin: 0 5px;
}

.content {
    max-width: 1000px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 8px;
    text-align: left;
}

.citation {
    margin: 20px auto;
    max-width: 1000px;
    text-align: left;   
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #eee;
    font-size: 0.9rem;
    color: #666;
}

.visualization-container {
    margin: 20px auto;
    max-width: 1000px;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
} 